.header {
    top: 0;
    position: sticky;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    
    border-bottom: 1px solid rgb(207, 207, 207) ;
    background-color: white;
}