.bookshelf{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 7rem;
    padding-left: 7rem;
}

.bookshelf__main__title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid royalblue ;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}
.bookshelf__button-panel{
    display: flex;
    gap: 1rem;
}
button {
    padding: 0.4rem 0.7rem;
    border-radius: 2px;
    background-color: white;
    font-weight: bold;
}