* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
    list-style: none;
}
:root{
    --lightConfirm: #a4db7f;
    --darkerConfirm: #498621;

    --lightDeny: #e3918d;
    --darkerDeny: #db3b32;
}

header {
    position: sticky;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1.2rem 7rem;
    border-bottom: 1px solid rgb(207, 207, 207) ;
}
#logo {
    color: royalblue;
}
ul{
    display: flex;
    gap: 1rem;
    font-size: 18px;
}
li:hover{
    color: royalblue;
}

#container{
    padding-top: 2rem;
    padding-right: 7rem;
    padding-left: 7rem;
}

#main-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid royalblue ;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}
#buttons{
    display: flex;
    gap: 1rem;
}
button {
    padding: 0.4rem 0.7rem;
    border-radius: 2px;
    background-color: white;
    font-weight: bold;
}
.confirm{
    color: white;
    background-color: royalblue;
    outline: royalblue solid 1px;
}
.cancel{
    outline: royalblue solid 1px;
    color: royalblue;
}
#btn-icon{
    margin-right: 1rem;
}
#status-panel{
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

#bookshelf{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.2rem;
}
.empty-bookshelf{
    justify-content: center;
    color: grey;
    font-size: 24px;
}
.book{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    box-sizing: border-box;

    height: 280px;
    background-color: black;
}
.about-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #a4db7f;
}
.book-title-display {
    color: white;
    font-weight: bold;
}
.book-genre-display{
    color: white;
}
.book-genre-display, .book-detail-display{
    font-size: 0.85rem;
}
.book-detail-display{
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    color: white;
}
.book-genre-display, .book-detail-display, .book-title-display {
    margin: 0 1rem;
}
#add-book-cover{
    display: flex;
    justify-content: center;
    flex: 0 0 auto;

    font-size: 8rem;
    font-weight: bold;
    height: 280px;
    border-radius: 10px;

    outline: rgb(167, 164, 164) dashed 3px;
    color: rgb(167, 164, 164);
    background-color: white;
}

#card-creator-popup{
    display: none;

    position: fixed;
    z-index: 1;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
}
#card-creator-container{
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 25vw;
    border-radius: 5px;
    padding: 20px 40px;
    
    outline: royalblue solid 3px;
    background-color: white;
    box-shadow: 1px 1px 1px black;

    flex-direction: column;
    flex-grow: 1;
}

#card-creator-container > input[type="text"], input[type="number"]{
    border-bottom: 1px solid royalblue;
    margin-bottom: 1rem;

    width: 100%;
    height: 2rem;
}
#card-creator-container > h2{
    color:royalblue;
}
#card-creator-container > h2, select{
    margin-bottom: 1rem;
}
input[type="text"]:focus, input[type="number"]:focus{
    outline: none;
}