.date, .id{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 0.25rem;
    font-size: 0.8rem;
    color: royalblue;
}
.date-updated{
    font-size: 0.7rem;
    color: rgb(87, 87, 87);
}
.id{
    font-size: 0.7rem;
}