.display__title {
    font-size: 1.2rem;
    color: white;
}
.display__tags {
    font-size: 0.8rem;
}
.display__book-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
}
