* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root{
  --lightConfirm: #a4db7f;
  --darkerConfirm: #498621;

  --lightDeny: #e3918d;
  --darkerDeny: #db3b32;
}