.book-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.book-form__book-cover {
    width: 30%;
}
.book-form__book-details {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 2rem;

    gap: 1rem;
    width: 60%;
    height: 100%;
}
