.registration-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.extended-input-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}
.input-container input,
.input-container textarea {
    padding: 0.5rem;
    background-color: whitesmoke;
    width: 100%;
}
.input-container :focus {
    outline: none;
}
.submit-btn {
    color: white;
    background-color: royalblue;
    padding: 0.5rem;
}
